/* this is a custom css stylessheet*/



body {
    background-color: #F2F2F2; 
    font-size: 13px;
}

::selection {

  background: #FFD5BA; /* WebKit/Blink Browsers */
}
::-moz-selection {

  background: #FFD5BA; /* Gecko Browsers */
}




.glyphicon {
	color: #CCD4D8;
}



.pull-right.img-responsive{
	margin: 0 0 1em 1em;
}

.btn-info{
	background-color: #363636;
	border-color: #363636;
	color: white;
    border: none;

}

btn-info.active.custom,
 .btn-info.focus.custom,
  .btn-info:active.custom,
   .btn-info:focus.custom,
    .btn-info:hover.custom,
     .open .dropdown-toggle.btn-info.custom {

     	color: white;
     	background-color: #363636;
     	border-color: #363636;
         outline: none;

     }

btn-info.active,
 .btn-info.focus,
  .btn-info:active,
   .btn-info:focus,
    .btn-info:hover.SettingsButton,
     .open .dropdown-toggle.btn-info.SettingsButton,
        .SettingsButton
        {

     	color: #EBEBEB !important;
     	background-color: #FAFAFA;
     	border-color: #FAFAFA;
        box-shadow: none;
        outline: none;    

     }



.panel-footer{
	background-color: #FAFAFA;
    border: none;
    border-radius: 0px;
    position:absolute;
    bottom:0;
    
    width: 100%;
    padding-top:0px; 
    


}








.mes{
	margin-top: 5px;
	border-radius: 5px;
}

.form-control{
	margin-bottom: 15px;
}

.media-list{
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.custom {
    width: 98px !important;

}

textarea {
   resize: none;
}

.panel-info{
	box-shadow: 0px 0px 3px #888888;
    border: none;
	height: 100vh;
    max-width: 724px;
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: #FAFAFA;
    
}

.panel-info>.panel-body{
	
	overflow: auto;
    position: relative;
    height: 100%;
    background-color: #FAFAFA;
    margin-bottom:  0px;
    
}

.img-circle{
	height:50px;
	width:50px; 
    margin: 0.5px;
    border-radius: 3px;
    box-shadow: 0px 0.2px 0.2px black;
}





.col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

div.line{
  transform-origin: 0 100%;
  height: 1px; /* Line width of 3 */
  background: #CCD4D8 ; /* Black fill */
  margin-bottom: 20px;
}

.MessageHeader {
    font-size: 12px;
    color: #CCD4D8;
    margin-bottom: 6px;
    padding-bottom: 0px;
    letter-spacing: 1px
    
}

.NickName {
    font-size: 13px;
    font-weight: bold;
    color: #FF6602;
    letter-spacing: normal;
}

.media-body {
    padding-left: 10px;
}



.Settings {
    float: left;
}

.SettingsButton {

    margin-top: -10px;
    margin-left: -10px;
    background-color: #FAFAFA;
    border: none;
}



#MessageForm:focus {
   outline: none;
   box-shadow: 0 0 1px #FF6602;
   border-color: #FF6602;
}

.editModeEnabled {
    background-color: #FFD5BA    ; 

}
@media(min-width:768px) { 

    #CancelEditBtn {
    margin-top: 6px;
    margin-right: 0px;
    }
    
}

@media(max-width:768px) { 

    #CancelEditBtn {
    margin-top: 0px;
    margin-right: 6px;
    }
    
}
    
#CancelEditBtn {  
    background-color: #FF6602;
    outline: none;
    
}    





.settings {
    height: 120px;
    
    overflow: hidden;
    position: relative;
    bottom: 120px;
    z-index: -1;
    opacity: 0;
    
    box-shadow: none;
    border: none;
    max-width: 724px;
    border-radius: 0px;
    background-color: #363636;
    
    border-top: 2px solid #FF6602;
}

.container {
    clip: 
}

.coloredGlyph {
    color:#FF6602 !important;
}
